@import '../../assets/sass/Helpers/mixin';
@import '../../assets/sass/Helpers/variables';

.listCard_layout {
  background-color: #f0f1f3;
  padding: 10px;
  flex-direction: column;
  display: flex;
  overflow-y: hidden;
  flex: 1;
  &_content {
    max-height: 100%;
  }

  // height: 100vh;

  .listCard_nav {
    &_linkActive {
      @include text($text-20, $text-regular, $text-c1-primary);
      // position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 10px;
        background-color: blue;
        // border-bottom: 3px solid blue;
        width: 80px;
        height: 5px;
        border-radius: 0 0 10px 10px;
      }
    }
  }
}
