@import '../../assets/sass/Helpers/mixin';
@import '../../assets/sass/Helpers/variables';

.header_layout {
  .header_hr {
    border-bottom: 1px solid #dee2e6;
  }
}

.header {
  width: 100vw;
  justify-content: space-between;

  .header_search {
    position: relative;
    padding: 0;
    .header_input {
      width: 77%;
      padding-left: 40px;
      background-color: #f8f9fa;

      &_icon {
        position: absolute;
        top: 36%;
        left: 15px;
        transform: translateY(-36%);
      }
    }
  }
  .btn_addtask {
    @include text($text-14, $text-regular, $text-c1-secondary);
    padding: 0 20px;
    height: 40px;
    &_icon {
      font-size: $text-18;
      margin-right: 10px;
    }
  }

  .header_calendar {
    margin-left: 20px;
    width: 40px;
    height: 40px;
  }
  .header_calendar_i {
  }
}
