//khai báo biến
//bg
$bg-c1-primary: #fff;
$bg-c2-primary: #f8f8f8;
$bg-c3-primary: #f3f3f4;
$bg-c4-primary: #e7f1fe;

$bg-c1-secondary: #e94d89;
$bg-c2-secondary: #f1ccd7;
$bg-c3-secondary: #edb1cf;
$bg-c4-secondary: #fef5f8;
$bg-c5-secondary: #feedf3;
$bg-c6-secondary: #fabacf;
$bg-c7-secondary: #f082ac;
$bg-c8-secondary: #bb3d6e;

$bg-c1-tertiary: #1d72e8;

$bg-none: transparent;

//text-color
$text-c1-primary: #0d0c22;
$text-c2-primary: #172b4d;
$text-c3-primary: #344def;
$text-c4-primary: #919191;

$text-c1-secondary: #fff;
$text-c2-secondary: #a67e8c;
$text-c3-secondary: #bb3d6e;
$text-c4-secondary: #865d6b;
$text-c5-secondary: #f082ac;

//text-size
$text-12: 12px;
$text-14: 14px;
$text-16: 16px;
$text-18: 18px;
$text-20: 20px;
$text-24: 24px;
$text-26: 26px;
$text-30: 30px;
$text-32: 32px;
$text-40: 40px;
$text-50: 50px;

//font-weight
$text-thin: 200;
$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-semibold: 600;
$text-bold: 700;

//break points
$bp-xl: 1200px;
$bp-lg: 992px;
$bp-md: 768px;
$bp-sm: 576px;
